In [63]:
!pip install yfinance

Requirement already satisfied: yfinance in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (0.1.67)
Requirement already satisfied: lxml>=4.5.1 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from yfinance) (4.6.4)
Requirement already satisfied: pandas>=0.24 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from yfinance) (2.26.0)
Requirement already satisfied: multitasking>=0.0.7 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from yfinance) (0.0.10)
Requirement already satisfied: pytz>=2017.2 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from pandas>=0.24->yfinance) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from requests>=2.20->yfinance) (2.0.8)
Requirement already satisfied: idna<4,>=2.5 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from requests>=2.20->yfinance) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from requests>=2.20->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from requests>=2.20->yfinance) (1.26.7)
Requirement already satisfied: six>=1.5 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.16.0)

In [64]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [65]:
#AAPL:appleの株
#ティッカーシンボル一覧で検索
aapl = yf.Ticker('AAPL')

In [66]:
aapl.history().head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-11-01,148.772875,149.481832,147.584607,148.742920,74588300,0.00,0
2021-11-02,148.443358,151.349121,148.433363,149.801376,69122000,0.00,0
2021-11-03,150.170838,151.748538,149.601677,151.269241,54511500,0.00,0
2021-11-04,151.359097,152.207849,150.420465,150.740005,60394600,0.00,0
2021-11-05,151.889999,152.199997,150.059998,151.279999,65414600,0.22,0

In [67]:
days = 20
hist = aapl.history(period = f'{days}d')

In [68]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-11-03,150.170838,151.748538,149.601677,151.269241,54511500,0.00,0
2021-11-04,151.359097,152.207849,150.420465,150.740005,60394600,0.00,0
2021-11-05,151.889999,152.199997,150.059998,151.279999,65414600,0.22,0
2021-11-08,151.410004,151.570007,150.160004,150.440002,55020900,0.00,0
2021-11-09,150.199997,151.429993,150.059998,150.809998,56787900,0.00,0
2021-11-10,150.020004,150.130005,147.850006,147.919998,65187100,0.00,0
2021-11-11,148.960007,149.429993,147.679993,147.869995,41000000,0.00,0
2021-11-12,148.429993,150.399994,147.479996,149.990005,63632600,0.00,0
2021-11-15,150.369995,151.880005,149.429993,150.000000,59222800,0.00,0
2021-11-16,149.940002,151.490005,149.339996,151.000000,59256200,0.00,0
2021-11-17,151.000000,155.000000,150.990005,153.490005,88807000,0.00,0
2021-11-18,153.710007,158.669998,153.050003,157.869995,137827700,0.00,0
2021-11-19,157.649994,161.020004,156.529999,160.550003,117147500,0.00,0
2021-11-22,161.679993,165.699997,161.000000,161.020004,117467900,0.00,0
2021-11-23,161.119995,161.800003,159.059998,161.410004,96041900,0.00,0
2021-11-24,160.750000,162.139999,159.639999,161.940002,69463600,0.00,0
2021-11-26,159.570007,160.449997,156.360001,156.809998,76959800,0.00,0
2021-11-29,159.369995,161.190002,158.789993,160.240005,88748200,0.00,0
2021-11-30,159.990005,165.520004,159.919998,165.300003,173758500,0.00,0
2021-12-01,167.479996,169.369995,166.050003,169.301193,44228636,0.00,0

In [69]:
hist.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [70]:
#Dataがインデックスの役割を担っている。なのでリセットさせる

In [71]:
hist.reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-11-03,150.170838,151.748538,149.601677,151.269241,54511500,0.00,0
1,2021-11-04,151.359097,152.207849,150.420465,150.740005,60394600,0.00,0
2,2021-11-05,151.889999,152.199997,150.059998,151.279999,65414600,0.22,0
3,2021-11-08,151.410004,151.570007,150.160004,150.440002,55020900,0.00,0
4,2021-11-09,150.199997,151.429993,150.059998,150.809998,56787900,0.00,0
5,2021-11-10,150.020004,150.130005,147.850006,147.919998,65187100,0.00,0
6,2021-11-11,148.960007,149.429993,147.679993,147.869995,41000000,0.00,0
7,2021-11-12,148.429993,150.399994,147.479996,149.990005,63632600,0.00,0
8,2021-11-15,150.369995,151.880005,149.429993,150.000000,59222800,0.00,0
9,2021-11-16,149.940002,151.490005,149.339996,151.000000,59256200,0.00,0
10,2021-11-17,151.000000,155.000000,150.990005,153.490005,88807000,0.00,0
11,2021-11-18,153.710007,158.669998,153.050003,157.869995,137827700,0.00,0
12,2021-11-19,157.649994,161.020004,156.529999,160.550003,117147500,0.00,0
13,2021-11-22,161.679993,165.699997,161.000000,161.020004,117467900,0.00,0
14,2021-11-23,161.119995,161.800003,159.059998,161.410004,96041900,0.00,0
15,2021-11-24,160.750000,162.139999,159.639999,161.940002,69463600,0.00,0
16,2021-11-26,159.570007,160.449997,156.360001,156.809998,76959800,0.00,0
17,2021-11-29,159.369995,161.190002,158.789993,160.240005,88748200,0.00,0
18,2021-11-30,159.990005,165.520004,159.919998,165.300003,173758500,0.00,0
19,2021-12-01,167.479996,169.369995,166.050003,169.301193,44228636,0.00,0

最初のデータ構造の利点はデータ同士を簡単に結合可能だということ。  
どっちがappleでどっちがマイクロソフトかはわからなくなるけど、Dataで主キーなるので  
natural joinで結合される

In [72]:
#ex
hist_msft = yf.Ticker('MSFT').history(period=f'{days}d')
hist_msft.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-11-03,333.290222,334.288395,330.046157,333.390045,21500100,0.0,0
2021-11-04,332.282087,335.925416,328.908255,335.825592,23992200,0.0,0
2021-11-05,337.891827,338.171315,333.809300,335.446289,22564000,0.0,0
2021-11-08,336.684035,337.033402,333.829272,336.374603,20897000,0.0,0
2021-11-09,336.494372,338.101448,333.919097,335.336517,21307400,0.0,0

In [73]:
pd.concat([hist, hist_msft], axis = 1).head()#結合

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,,,,
2021-11-03,150.170838,151.748538,149.601677,151.269241,54511500,0.00,0,333.290222,334.288395,330.046157,333.390045,21500100,0.0,0
2021-11-04,151.359097,152.207849,150.420465,150.740005,60394600,0.00,0,332.282087,335.925416,328.908255,335.825592,23992200,0.0,0
2021-11-05,151.889999,152.199997,150.059998,151.279999,65414600,0.22,0,337.891827,338.171315,333.809300,335.446289,22564000,0.0,0
2021-11-08,151.410004,151.570007,150.160004,150.440002,55020900,0.00,0,336.684035,337.033402,333.829272,336.374603,20897000,0.0,0
2021-11-09,150.199997,151.429993,150.059998,150.809998,56787900,0.00,0,336.494372,338.101448,333.919097,335.336517,21307400,0.0,0

In [74]:
#Dataの表記を変更したい。今は年月日だけど、日月年に変更したい

In [75]:
hist.index

DatetimeIndex(['2021-11-03', '2021-11-04', '2021-11-05', '2021-11-08',
               '2021-11-09', '2021-11-10', '2021-11-11', '2021-11-12',
               '2021-11-15', '2021-11-16', '2021-11-17', '2021-11-18',
               '2021-11-19', '2021-11-22', '2021-11-23', '2021-11-24',
               '2021-11-26', '2021-11-29', '2021-11-30', '2021-12-01'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [76]:
#形式を変更

In [77]:
hist.index = hist.index.strftime('%d %B %Y')

In [78]:
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
03 November 2021,150.170838,151.748538,149.601677,151.269241,54511500,0.00,0
04 November 2021,151.359097,152.207849,150.420465,150.740005,60394600,0.00,0
05 November 2021,151.889999,152.199997,150.059998,151.279999,65414600,0.22,0
08 November 2021,151.410004,151.570007,150.160004,150.440002,55020900,0.00,0
09 November 2021,150.199997,151.429993,150.059998,150.809998,56787900,0.00,0

In [79]:
#今回はすべての値を使用するのではなく、終値だけを使うので
hist = hist[['Close']]
hist.columns = ['apple']
hist.head()

                       apple
Date
03 November 2021  151.269241
04 November 2021  150.740005
05 November 2021  151.279999
08 November 2021  150.440002
09 November 2021  150.809998

In [80]:
#最終的にindexをNameにしたいのと、日付が横に並び、会社が縦に並ぶようにしたい。これまでは行と列が逆
hist = hist.T#転地

In [81]:
hist

Date,03 November 2021,04 November 2021,05 November 2021,08 November 2021,09 November 2021,10 November 2021,11 November 2021,12 November 2021,15 November 2021,16 November 2021,17 November 2021,18 November 2021,19 November 2021,22 November 2021,23 November 2021,24 November 2021,26 November 2021,29 November 2021,30 November 2021,01 December 2021
apple,151.269241,150.740005,151.279999,150.440002,150.809998,147.919998,147.869995,149.990005,150.0,151.0,153.490005,157.869995,160.550003,161.020004,161.410004,161.940002,156.809998,160.240005,165.300003,169.301193

In [82]:
hist.index.name = "Name"

In [83]:
hist

Date,03 November 2021,04 November 2021,05 November 2021,08 November 2021,09 November 2021,10 November 2021,11 November 2021,12 November 2021,15 November 2021,16 November 2021,17 November 2021,18 November 2021,19 November 2021,22 November 2021,23 November 2021,24 November 2021,26 November 2021,29 November 2021,30 November 2021,01 December 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,151.269241,150.740005,151.279999,150.440002,150.809998,147.919998,147.869995,149.990005,150.0,151.0,153.490005,157.869995,160.550003,161.020004,161.410004,161.940002,156.809998,160.240005,165.300003,169.301193

他の企業の株価も追加できるように汎用化させる

In [90]:
days = 20

Tickers = {
    'apple': 'AAPL',
    'facebook' : 'FB',
    'google': 'GOOGL',
    'microsoft':'MSFT',
    'netfilx':'NFLX',
    'amazon':'AMZN'
}
#企業名がkeyになっている。Tickers.keyで確認可能

def get_data(days,tickers):
    df = pd.DataFrame()
    for company in Tickers.keys():
        tkr = yf.Ticker(Tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        df = pd.concat([df, hist])
    return df

In [91]:
get_data(20, Tickers)

Date,03 November 2021,04 November 2021,05 November 2021,08 November 2021,09 November 2021,10 November 2021,11 November 2021,12 November 2021,15 November 2021,16 November 2021,17 November 2021,18 November 2021,19 November 2021,22 November 2021,23 November 2021,24 November 2021,26 November 2021,29 November 2021,30 November 2021,01 December 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,151.269241,150.740005,151.279999,150.440002,150.809998,147.919998,147.869995,149.990005,150.000000,151.000000,153.490005,157.869995,160.550003,161.020004,161.410004,161.940002,156.809998,160.240005,165.300003,169.300003
facebook,331.619995,335.850006,341.130005,338.619995,335.369995,327.640015,327.739990,340.890015,347.559998,342.959991,340.769989,338.690002,345.299988,341.010010,337.250000,341.059998,333.119995,338.029999,324.459991,326.304993
google,2931.959961,2965.350098,2977.040039,2980.620117,2978.370117,2917.870117,2915.330078,2973.560059,2969.040039,2957.520020,2960.939941,2996.770020,2978.530029,2926.040039,2915.639893,2922.399902,2843.659912,2910.610107,2837.949951,2909.602295
microsoft,333.390045,335.825592,335.446289,336.374603,335.336517,330.195892,331.822906,336.105103,335.456299,338.890015,339.119995,341.269989,343.109985,339.829987,337.679993,337.910004,329.679993,336.630005,330.589996,335.350006
netfilx,688.289978,668.400024,645.719971,651.450012,655.989990,646.909973,657.580017,682.609985,679.330017,687.400024,691.690002,682.020020,678.799988,659.200012,654.059998,658.289978,665.640015,663.840027,641.900024,644.939880
amazon,3384.000000,3477.000000,3518.989990,3488.979980,3576.229980,3482.050049,3472.500000,3525.149902,3545.679932,3540.699951,3549.000000,3696.060059,3676.570068,3572.570068,3580.040039,3580.409912,3504.560059,3561.570068,3507.070068,3541.129883

次は株価の推移を可視化する。  
ココでがmatplotlobもいいが、streamlitと親和性のたかい**Altair**を使いたいと思う

In [92]:
!pip3 install altair

Requirement already satisfied: altair in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (4.1.0)
Requirement already satisfied: toolz in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from altair) (0.11.2)
Requirement already satisfied: pandas>=0.18 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from altair) (1.1.5)
Requirement already satisfied: jsonschema in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from altair) (4.0.0)
Requirement already satisfied: jinja2 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from altair) (3.0.3)
Requirement already satisfied: numpy in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from altair) (1.19.5)
Requirement already satisfied: entrypoints in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from altair) (0.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from pandas>=0.18->altair) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from pandas>=0.18->altair) (2021.3)
Requirement already satisfied: MarkupSafe>=2.0 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from jinja2->altair) (2.0.1)
Requirement already satisfied: attrs>=17.4.0 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from jsonschema->altair) (21.2.0)
Requirement already satisfied: importlib-metadata in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from jsonschema->altair) (4.8.2)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from jsonschema->altair) (0.18.0)
Requirement already satisfied: six>=1.5 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas>=0.18->altair) (1.16.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from importlib-metadata->jsonschema->altair) (4.0.0)
Requirement already satisfied: zipp>=0.5 in /home/iniad/streamlit/streamvenv/lib/python3.6/site-packages (from importlib-metadata->jsonschema->altair) (3.6.0)

In [103]:
import altair as alt

In [104]:
df

Date,03 November 2021,04 November 2021,05 November 2021,08 November 2021,09 November 2021,10 November 2021,11 November 2021,12 November 2021,15 November 2021,16 November 2021,17 November 2021,18 November 2021,19 November 2021,22 November 2021,23 November 2021,24 November 2021,26 November 2021,29 November 2021,30 November 2021,01 December 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,151.269241,150.740005,151.279999,150.440002,150.809998,147.919998,147.869995,149.990005,150.000000,151.000000,153.490005,157.869995,160.550003,161.020004,161.410004,161.940002,156.809998,160.240005,165.300003,169.290207
facebook,331.619995,335.850006,341.130005,338.619995,335.369995,327.640015,327.739990,340.890015,347.559998,342.959991,340.769989,338.690002,345.299988,341.010010,337.250000,341.059998,333.119995,338.029999,324.459991,325.950012
google,2931.959961,2965.350098,2977.040039,2980.620117,2978.370117,2917.870117,2915.330078,2973.560059,2969.040039,2957.520020,2960.939941,2996.770020,2978.530029,2926.040039,2915.639893,2922.399902,2843.659912,2910.610107,2837.949951,2909.229980
microsoft,333.390045,335.825592,335.446289,336.374603,335.336517,330.195892,331.822906,336.105103,335.456299,338.890015,339.119995,341.269989,343.109985,339.829987,337.679993,337.910004,329.679993,336.630005,330.589996,335.441895
netfilx,688.289978,668.400024,645.719971,651.450012,655.989990,646.909973,657.580017,682.609985,679.330017,687.400024,691.690002,682.020020,678.799988,659.200012,654.059998,658.289978,665.640015,663.840027,641.900024,644.734985
amazon,3384.000000,3477.000000,3518.989990,3488.979980,3576.229980,3482.050049,3472.500000,3525.149902,3545.679932,3540.699951,3549.000000,3696.060059,3676.570068,3572.570068,3580.040039,3580.409912,3504.560059,3561.570068,3507.070068,3541.702881

In [105]:
companies = ['apple', 'facebook']
data = df.loc[companies]#ilocにすると番号で指定、locだとカラム名で指定可能
data

Date,03 November 2021,04 November 2021,05 November 2021,08 November 2021,09 November 2021,10 November 2021,11 November 2021,12 November 2021,15 November 2021,16 November 2021,17 November 2021,18 November 2021,19 November 2021,22 November 2021,23 November 2021,24 November 2021,26 November 2021,29 November 2021,30 November 2021,01 December 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,151.269241,150.740005,151.279999,150.440002,150.809998,147.919998,147.869995,149.990005,150.000000,151.000000,153.490005,157.869995,160.550003,161.020004,161.410004,161.940002,156.809998,160.240005,165.300003,169.290207
facebook,331.619995,335.850006,341.130005,338.619995,335.369995,327.640015,327.739990,340.890015,347.559998,342.959991,340.769989,338.690002,345.299988,341.010010,337.250000,341.059998,333.119995,338.029999,324.459991,325.950012

In [106]:
data.sort_index()

Date,03 November 2021,04 November 2021,05 November 2021,08 November 2021,09 November 2021,10 November 2021,11 November 2021,12 November 2021,15 November 2021,16 November 2021,17 November 2021,18 November 2021,19 November 2021,22 November 2021,23 November 2021,24 November 2021,26 November 2021,29 November 2021,30 November 2021,01 December 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,151.269241,150.740005,151.279999,150.440002,150.809998,147.919998,147.869995,149.990005,150.000000,151.000000,153.490005,157.869995,160.550003,161.020004,161.410004,161.940002,156.809998,160.240005,165.300003,169.290207
facebook,331.619995,335.850006,341.130005,338.619995,335.369995,327.640015,327.739990,340.890015,347.559998,342.959991,340.769989,338.690002,345.299988,341.010010,337.250000,341.059998,333.119995,338.029999,324.459991,325.950012

altairはpandasのデータ型をそのまま引き継ぐことが可能

In [107]:
#横軸に日付が必要
data=data.T.reset_index()
data.head()
#これでindex部分からDataの取り除きに成功

Name              Date       apple    facebook
0     03 November 2021  151.269241  331.619995
1     04 November 2021  150.740005  335.850006
2     05 November 2021  151.279999  341.130005
3     08 November 2021  150.440002  338.619995
4     09 November 2021  150.809998  335.369995

しかし本当はDataに対して「日付、企業1の株価、企業2の株価」という紐づけかたではなくて  
Dataに対して、「日付、企業名、株価」にしたい

In [108]:
data = pd.melt(data, id_vars=['Date']).rename(columns = {'value' : 'Stock Prices(USD)'})
data
#上のセルで綺麗に成形されたデータをわざと崩す(=melt)
#なにを基準に崩すのか = Date
#ピポットテーブル

                Date      Name  Stock Prices(USD)
0   03 November 2021     apple         151.269241
1   04 November 2021     apple         150.740005
2   05 November 2021     apple         151.279999
3   08 November 2021     apple         150.440002
4   09 November 2021     apple         150.809998
5   10 November 2021     apple         147.919998
6   11 November 2021     apple         147.869995
7   12 November 2021     apple         149.990005
8   15 November 2021     apple         150.000000
9   16 November 2021     apple         151.000000
10  17 November 2021     apple         153.490005
11  18 November 2021     apple         157.869995
12  19 November 2021     apple         160.550003
13  22 November 2021     apple         161.020004
14  23 November 2021     apple         161.410004
15  24 November 2021     apple         161.940002
16  26 November 2021     apple         156.809998
17  29 November 2021     apple         160.240005
18  30 November 2021     apple         165.300003
19  01 December 2021     apple         169.290207
20  03 November 2021  facebook         331.619995
21  04 November 2021  facebook         335.850006
22  05 November 2021  facebook         341.130005
23  08 November 2021  facebook         338.619995
24  09 November 2021  facebook         335.369995
25  10 November 2021  facebook         327.640015
26  11 November 2021  facebook         327.739990
27  12 November 2021  facebook         340.890015
28  15 November 2021  facebook         347.559998
29  16 November 2021  facebook         342.959991
30  17 November 2021  facebook         340.769989
31  18 November 2021  facebook         338.690002
32  19 November 2021  facebook         345.299988
33  22 November 2021  facebook         341.010010
34  23 November 2021  facebook         337.250000
35  24 November 2021  facebook         341.059998
36  26 November 2021  facebook         333.119995
37  29 November 2021  facebook         338.029999
38  30 November 2021  facebook         324.459991
39  01 December 2021  facebook         325.950012

これで「日付、企業名、株価」の取得が可能になった

In [111]:
#グラフの可視化
chart = (
    alt.Chart(data)
    .mark_line(opacity = 0.8)#折れ線グラフ
    .encode(#軸
        x = "Date:T",#Tはタイム。スペース開けてはいけない
        y = alt.Y("Stock Prices(USD):Q", stack = None),#Q:定量化
        color = 'Name:N'
    )
)
chart

alt.Chart(...)

いくつもの企業名の株価を観測するので、これでは特定の企業の株価が見えづらい  
そこで縦軸の株価の値を自由に調節できるようにしたい

In [113]:
chart = (
    alt.Chart(data)
    .mark_line(opacity = 0.8)#折れ線グラフ
    .encode(#軸
        x = "Date:T",#Tはタイム。スペース開けてはいけない
        y = alt.Y("Stock Prices(USD):Q", stack = None, scale = alt.Scale(domain = [300, 350])),
        color = 'Name:N'
    )
)
chart

alt.Chart(...)

しかしこれだと御覧の通り、facebookの株価が変な位置に移動してしまう。なので

In [114]:
chart = (
    alt.Chart(data)
    .mark_line(opacity = 0.8, clip = True)#折れ線グラフ
    .encode(#軸
        x = "Date:T",#Tはタイム。スペース開けてはいけない
        y = alt.Y("Stock Prices(USD):Q", stack = None, scale = alt.Scale(domain = [300, 350])),
        color = 'Name:N'
    )
)
chart

alt.Chart(...)